:root {
    --background-color: #F0F0F0;
    --text-color: $black; 
}

body {
    transition: background-color 1.5s, color 1s;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
    height: 100vh;
}

// .eb2 {
//     visibility: visible;
//   }

.eb3 {
    visibility: hidden;
}


// DARK-THEME
[data-theme="dark"] {
  --background-color: #1F1C1D;
  --text-color: #D4D7CE;

  .nav-icon {
    fill: #1F1C1D;
}
        // RRSS
        .rrss {
            .rrss_icon {
                fill: $light-grey;
                opacity: 0.5;
            }
      }
         // theme switcher button
        #theme-switcher {
        .theme-img-button, .theme-text-button {
          fill: #D4D7CE;
          color: #D4D7CE;
          opacity: 0.7;
          
        }
      }
      //   text and other elements
      h3, h4{
          text-shadow: 0px 0px 26px rgba(212, 215, 206, 0.50);
      }

        // bg image
        .eb2 {
            visibility: hidden;
        }

        .eb3 {
            visibility: visible;
        }
        //   buttons and tags
        .talk-button {
            border: 2px solid $pink;
            color: $pink;
            }
        .talk-button:hover {
            color: #1F1C1D;
            background-color: $pink;
        }
        #send-button {
            border: 1.5px solid $light-grey;
            color: $light-grey;
        }
        #send-button:hover {
            color: #1F1C1D;
            background-color: #D4D7CE;
            border: none;
        } 
            .tags {        
                    & li {
                        border: 1.5px solid #D4D7CE;
                    }
                }    
            // form 
            .forminput {
                color: $light-grey;
            }
                .forminput:focus{
                    color: $pink;
                }
            
            .message, #subject, #email, #tel {
                @include contact ($largo:150px, $border-form: (1.5px solid $light-grey))
            }
            
}
