html, body {
        font-family: Sporting Grotesque;
        src: url(../../tipo/SportingGrotesque-Bold.otf);
}

    h1, h4 {
        font-size: 18px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 22px;
        padding: 0px;
        margin: 0px;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        padding: 0px;
    }

    .talk-button {
        text-align: center;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    .p-skills {
        font-size: 12px;
    }

// DESKTOP
    @media all and (min-width:800px) {
        body {
            // home
            h3 {
                font-size: 56px;
            }
            .home-title {
                margin-top: 50px!important;
            }
            .p-into {
                font-size: 24px;
            }

            .scroll-section-home {
                .p-into {
                  width: 690px;
                  height: 100px; 
                }
              }

            .talk-button {
                font-size: 20px;
                width: 140px;
                margin-top: 25%;
            }


            // skills
            .p-skills {
                font-size: 20px;
            }

            // contact
            .contact-title {
                font-size: 36px;
            }
            .form{
                font-size: 24px;
                width: 100%;
                max-width: 670px;
                height: 470px;  
            }
        }
    }

    @media (max-height:700px) {
        .tags {
            margin-bottom: 0px;  
        
        & li {
            font-size: 8px;
        }
    }

        .p-skills {
            font-size: 10px;
        }
    }