

.form {
    background-color: transparent;
    padding: $space-max;
    font-size: 24px;
    width: 100%;
    display: flex;   
    flex-direction: column;
    max-width: 540px;
    height: 400px;
    
}



/* ocultos */
.contact-labels{
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/*  */


.message{
    @include contact ($largo:150px)
}

#subject{
    @include contact ($largo:40px)
}

#email{
    @include contact ($largo:40px)
    
}


input[type="email"]:invalid{
    background-color: rgb(255, 228, 233);
}

#tel{
    @include contact ($largo:40px)
}

