body {
     padding: 0;
     margin: 0 auto;
     height: 100vh;
     overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .sections {
    width: 300%;
    display: flex;
    transition: transform .5s ease-in;
    
  }

  // HOME-ABOUT
  .scroll-section-home {
    width: 33.3333%;
    overflow: hidden;
  }

  // SKILLS
  .scroll-section-skills {
    width: 33.3333%;
    overflow: hidden;
  }

  // CONTACT
  .scroll-section-contact {
    width: 33.3333%;
    overflow: hidden;
  }
  
  // Checkboxes function
  .nav {
    &__input {
      display: none;
      &--about {
        &:checked {
          ~ .sections{            
            transform: translateX(0);
            transition: all 1.5s;   
          }
        }
      }
      &--skills {
        &:checked {
          ~ .sections{
            transform: translateX(-33.3333%);
            transition: all 1.2s;
          }
        }
      }
      &--contact {
        &:checked {
          ~ .sections{
            transform: translateX(-66.6666%);
            transition: all 1.5s;
          }
        }
      }
    }
    &__label {
      color: $pink;
    }
  }
  
  .nav__label {
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
  }

 .input__container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: nowrap !important;
   align-items: center;
   margin: 0;
 }


 span {
   margin-top: 5px;
   margin-right: $unit;
   padding: 0;
 }

 