body {
  height: 100%;
  margin: 0;
  cursor: url(../../images/cursor.svg);
}
body .ellipse-bg {
  position: fixed;
  height: 100vh;
  z-index: -400;
}
body #theme-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  position: absolute;
  z-index: 999;
  -webkit-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  width: 100px;
  height: 90vh;
  margin-left: 20px;
  border: none;
}
body #theme-switcher .theme-img-button {
  margin-top: 5px;
  width: 30%;
  fill: #000000;
}
body #theme-switcher .theme-text-button {
  font-size: 11px;
  font-family: Sporting Grotesque;
  color: #000000;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}
body header h1 {
  padding: 0px;
  margin: 0;
}
body header h2 {
  padding: 0px;
  margin: 0;
}
body .nav {
  margin-left: 30px;
}
body .scroll-area {
  height: 100vh;
}
body .sections {
  height: 100vh;
}
body .scroll-section-home {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  padding-top: 8%;
}
body .scroll-section-home h3 {
  margin: 0;
}
body .scroll-section-home .p-into {
  width: 300px;
  height: 100px;
}
body .scroll-section-skills {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .scroll-section-skills .tags-title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
body .scroll-section-skills .text-img__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
body .scroll-section-skills .skills-title {
  margin-bottom: 10px;
}
body .scroll-section-skills .tags {
  margin-bottom: 20px;
}
body .scroll-section-skills .p-skills {
  margin-bottom: 10px;
}
body .scroll-section-skills .profile-pic {
  width: 30%;
  border-radius: 20px;
}

.scroll-section-contact {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.svg-illustration {
  display: none;
}

@media all and (min-width: 800px) {
  body header {
    padding-left: 50px;
    padding-right: 50px;
  }
  body .scroll-section-home {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
    padding-top: 0px;
  }
  body .scroll-section-skills {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  body .scroll-section-skills .tags-title__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
  }
  body .scroll-section-skills .text-img__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
  }
  body .scroll-section-skills .skills-title {
    margin-bottom: 10px;
    width: 50%;
  }
  body .scroll-section-skills .p-skills {
    margin-bottom: 10px;
    margin-top: 0;
    width: 50%;
  }
  body .scroll-section-skills .profile-pic {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 15%;
    border-radius: 20px;
  }
  body .scroll-section-contact {
    padding: 10px;
  }
  body .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .contact-container .svg-illustration {
    margin-right: 15%;
    width: 15%;
    display: inline;
  }
}
html, body {
  font-family: Sporting Grotesque;
  src: url(../../tipo/SportingGrotesque-Bold.otf);
}
html h1, html h4, body h1, body h4 {
  font-size: 18px;
}
html h2, body h2 {
  font-size: 18px;
}
html h3, body h3 {
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}
html p, body p {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
}
html .talk-button, body .talk-button {
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
html .p-skills, body .p-skills {
  font-size: 12px;
}

@media all and (min-width: 800px) {
  body h3 {
    font-size: 56px;
  }
  body .home-title {
    margin-top: 50px !important;
  }
  body .p-into {
    font-size: 24px;
  }
  body .scroll-section-home .p-into {
    width: 690px;
    height: 100px;
  }
  body .talk-button {
    font-size: 20px;
    width: 140px;
    margin-top: 25%;
  }
  body .p-skills {
    font-size: 20px;
  }
  body .contact-title {
    font-size: 36px;
  }
  body .form {
    font-size: 24px;
    width: 100%;
    max-width: 670px;
    height: 470px;
  }
}
:root {
  --background-color: #F0F0F0;
  --text-color: $black;
}

body {
  -webkit-transition: background-color 1.5s, color 1s;
  transition: background-color 1.5s, color 1s;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  height: 100vh;
}
body .eb3 {
  visibility: hidden;
}

[data-theme=dark] {
  --background-color: #1F1C1D;
  --text-color: #D4D7CE;
}
[data-theme=dark] .body .rrss .rrss_icon {
  fill: #E8E8E8;
  opacity: 0.7;
}
[data-theme=dark] .body #theme-switcher .theme-img-button {
  fill: #D4D7CE;
  opacity: 0.7;
}
[data-theme=dark] .body #theme-switcher .theme-text-button {
  color: #D4D7CE;
  opacity: 0.7;
}
[data-theme=dark] .body h3, [data-theme=dark] .body h4 {
  text-shadow: 0px 0px 26px rgba(212, 215, 206, 0.5);
}
[data-theme=dark] .body .tags li {
  border: 1.5px solid #E8E8E8;
}
[data-theme=dark] .body .talk-button:hover {
  color: #1F1C1D;
  background-color: #FF85C7;
}
[data-theme=dark] .body #send-button:hover {
  color: #1F1C1D;
  background-color: #FF85C7;
}
[data-theme=dark] .eb2 {
  visibility: hidden;
}
[data-theme=dark] .eb3 {
  visibility: visible;
}
[data-theme=dark] .talk-button {
  border: 2px solid #FF85C7;
  color: #FF85C7;
}
[data-theme=dark] .talk-button h3 {
  text-shadow: 0px 0px 26px rgba(212, 215, 206, 0.77);
}
[data-theme=dark] #send-button {
  border: 1.5px solid #E8E8E8;
  color: #E8E8E8;
}
[data-theme=dark] .tags li {
  border: 1.5px solid #D4D7CE;
}
[data-theme=dark] .message, [data-theme=dark] #subject, [data-theme=dark] #email, [data-theme=dark] #tel {
  height: 150px;
  margin-bottom: 10px;
  border: 1.5px solid #E8E8E8;
  border-radius: 20px;
  padding: 3px;
  background-color: transparent;
  outline: none;
}

.nav-icon {
  background-color: #FF85C7;
  border-radius: 50%;
  padding: 3%;
  width: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-right: 5px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(114, 114, 114, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(114, 114, 114, 0.25));
  fill: #E8E8E8;
}

.rrss {
  position: fixed;
  bottom: 20px;
  z-index: 600;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  z-index: 600;
}
.rrss .rrss_icon {
  margin-right: 10px;
  padding: 0px;
  width: 25px;
  height: 30px;
  fill: #FF85C7;
  opacity: 0.8;
}

@media all and (min-width: 800px) {
  .nav-icon {
    background-color: #FF85C7;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-right: 10px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(114, 114, 114, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(114, 114, 114, 0.25));
    fill: #E8E8E8;
  }
}
.form {
  background-color: transparent;
  padding: 50px;
  font-size: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 540px;
  height: 400px;
}

/* ocultos */
.contact-labels {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*  */
.message {
  height: 150px;
  margin-bottom: 10px;
  border: 1.5px solid #000000;
  border-radius: 20px;
  padding: 3px;
  background-color: transparent;
  outline: none;
}

#subject {
  height: 40px;
  margin-bottom: 10px;
  border: 1.5px solid #000000;
  border-radius: 20px;
  padding: 3px;
  background-color: transparent;
  outline: none;
}

#email {
  height: 40px;
  margin-bottom: 10px;
  border: 1.5px solid #000000;
  border-radius: 20px;
  padding: 3px;
  background-color: transparent;
  outline: none;
}

input[type=email]:invalid {
  background-color: #ffe4e9;
}

#tel {
  height: 40px;
  margin-bottom: 10px;
  border: 1.5px solid #000000;
  border-radius: 20px;
  padding: 3px;
  background-color: transparent;
  outline: none;
}

.talk-button {
  width: 100px;
  padding: 10px;
  background-color: none;
  border-radius: 30px;
  border: 2px solid #000000;
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
  margin-top: 50%;
  color: #000000;
  cursor: pointer;
  z-index: 10;
}

#send-button {
  width: 120px;
  padding: 10px;
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid #000000;
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
  margin-top: 20px;
  margin-left: auto;
  color: #000000;
  cursor: pointer;
  z-index: 10;
}

.talk-button:hover {
  color: #E8E8E8;
  background-color: #000000;
  border-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#send-button:hover {
  color: #E8E8E8;
  background-color: #000000;
  border-style: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  font-size: 12px;
  height: 100%;
}
.tags li {
  border: 1.5px solid #000000;
  border-radius: 50px;
  padding: 5px;
  margin: 5px;
}

@media all and (min-width: 800px) {
  .tags {
    width: 30%;
    font-size: 16px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .tags li {
    padding: 10px;
  }
}
body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.sections {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.scroll-section-home {
  width: 33.3333%;
}

.scroll-section-skills {
  width: 33.3333%;
}

.scroll-section-contact {
  width: 33.3333%;
}

.nav__input {
  display: none;
}
.nav__input--about:checked ~ .sections {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.nav__input--skills:checked ~ .sections {
  -webkit-transform: translateX(-33.3333%);
          transform: translateX(-33.3333%);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.nav__input--contact:checked ~ .sections {
  -webkit-transform: translateX(-66.6666%);
          transform: translateX(-66.6666%);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.nav__label {
  color: #FF85C7;
}

.nav__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

span {
  margin-top: 5px;
  margin-right: 10px;
  padding: 0;
}