body {
  height: 100%;
  margin: 0;
  cursor: url(../../images/cursor.svg);
  

  .ellipse-bg {
    position: fixed;
    height: 100vh;
    z-index: -400;
  }
  // theme icon
  #theme-switcher {
    display: flex;
    background: none;
    position: absolute;
    z-index: 999;
    transform: translate(0px, 100%);
    width:100px;
    height:90vh;
    margin-left: $space;
    border:none;
    cursor: pointer;

    .theme-img-button {
      margin-top: 5px;
      width: 30%;
      fill: $black;
    }
    .theme-text-button {
      font-size: 11px;
      font-family: Sporting Grotesque;
      color: $black;
    }
  
  }

// ----- HEADER
   header {
    display: flex;
    justify-content: space-between;
    margin-top: $space;
    padding: $unit;
    // width: 100%;
    flex-wrap: wrap;

    h1 {
      padding: 0px;
      margin: 0;
    }

    h2 {
      padding: 0px;
      margin: 0;
    }
  }

// ----- NAV-SCROLL
.nav_container {
  margin-top: $space;
  gap: $unit;
  order: 2;
  width: 100%;
  display: flex;
  justify-content: center
  // flex: 0 0 100%;
}
.nav {
  margin-left: 30px;
}


  .scroll-area {
    height: 100vh;

  }
  .sections {
    height: 100vh;
    
  
  }
// ------------HOME-ABOUT
  .scroll-section-home {

    @include sections ($space, flex-start);
    padding-top: 8%;

    h3{
      margin: 0;
    }

    .p-into {
     
      width: 300px;
      height: 100px; 

    }
  }

  // -----------SKILLS
    .scroll-section-skills {
      @include sections ($space, flex-start, column );
      flex-wrap: wrap;

      .tags-title__container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
  
      .text-img__container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

       .skills-title {
        margin-bottom: $unit;
      }

       .tags{
        margin-bottom: $space;
      }

       .p-skills {
        margin-bottom: $unit;
      }
        .profile-pic {
          width: 30%;
          border-radius: $space;
        }  
          
    }

  }

  // ---------CONTACT

  .scroll-section-contact {
    @include sections ($space, center);
  
}

a:link, a:visited, a:active {
  text-decoration:none;
} 
.svg-illustration {
  display: none;
}



// ------------|||DESKTOP|||-------------------


@media all and (min-width:800px) {
  body {
      header {
        display: flex;
        padding-left: $space-max;
        padding-right: $space-max;
        flex-wrap: nowrap;
        width: 100%;
        h1, h2 {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
        }
        h2 {
          justify-content: flex-end;
        }
      }
      .nav_container {
        margin-top: $space;
        display: flex;
        order: 0;
        justify-content: center
      }

      // *****home
      .scroll-section-home {
        @include sections ($space-max, flex-start);
        padding-top: 0px;
      }

      // *****skills
      .scroll-section-skills {
          @include sections ($space-max, flex-start, column );
          flex-wrap: wrap;
          height: 100%;
    
          .tags-title__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100px;
          }
      
          .text-img__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
          }
    
           .skills-title {
            margin-bottom: $unit;
            width: 50%;
          }
           .p-skills {
            margin-bottom: $unit;
            margin-top: 0;
            width: 50%;
          }
          .profile-pic {
            height: min-content;
            width: 15%;
            border-radius: $space;
          }  
              
        }

    // *****contact
      .scroll-section-contact {
        padding: $padding;
      }
      
      .contact-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .svg-illustration {
          margin-right: 15%;
          width: 15%;
          display: inline;
      }
    }
  }
}